*~
*.gmo
*.pot
Makefile
Makefile.in
stamp-*
*.tar.bz2
*.tar.gz
.deps
.libs
*.la
*.lo
*.o
ChangeLog
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
configure.in
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
Makefile.in.in
POTFILES
m4/
ABOUT-NLS
config.rpath
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/remove-potcdate.sed
